{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransViaje</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/icono transfer.webp' %}">
    <link rel="stylesheet" href="{% static 'css/misEstilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <!--BARRA DE NAVEGACION-->
        <nav class="navbar navbar-expand-sm navbar-light bg-light, menu">
          
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#opciones" style="margin-left: 15px;">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            
              <a href="{% url 'inicio' %}" class="navbar-brand">
                <img src="{% static 'img/icono transfer.webp' %}" width="30px" height="30px" style="margin-left: 15px;">
              </a>
              <!-- Links -->
              <div class="collapse navbar-collapse" id="opciones">
                <div>
                  {% if user.is_authenticated %}
                          <a href="#" style="color:blueviolet; font-size: 12px; justify-content: right;">Bienvenid@ {{user.username}}</a>
                          <a href="{% url 'cerrar' %}" id="userBookStop">
                              <img src="{% static 'img/user-vector-icon.png' %}" alt="NO DATA FOUND" width="20px">Cerrar sesión
                          </a>
                  {% else %}
                      <a href="{% url 'login' %}" id="userBookSto" style="color:blueviolet; text-align:  right;">
                          <img src="{% static 'img/user-vector-icon.png' %}" alt="NO DATA FOUND" width="20px">Iniciar sesión
                      </a>
                  {% endif %}
              </div>
              <div class="collapse navbar-collapse" id="opciones">
                <ul class="navbar-nav" style="margin-left: 15px;">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'tienda' %}">Reserva</a>
                  </li>
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productos' %}">Vehiculos</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'quienesSomos' %}">Quienes Somos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'choferes' %}">Choferes</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'trabajaConNosotros' %}">Trabaja Con Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'disponibilidad' %}">Feriados</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}">Perfil: {{user.username}}</a>
                </li>
                
                {% endif %}
                </ul>
              </div>
             
        </nav>


          <br>
          <main class="container">
          <!-- Carousel -->
          <div id="demo" class="carousel slide" data-bs-ride="carousel">


            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="#">
                <img src="{% static 'img/Tcarrousel.jpg' %}" alt="Carrosel1" class="d-block w-100">
              </a>
              </div>
             
            </div>

          
          <section class="text-center my-5">
            <h2>¡El Poder del viaje seguro! {{ bienvenido }}</h2>
            <p>En TransViaje, estamos comprometidos con brindarte el servicio de transporte que necesitas para cada momento de tu vida, con la confiabilidad que mereces. Nuestro objetivo es no solo ofrecerte traslados de la más alta calidad, sino también ayudarte a ahorrar en cada paso del camino. Con un enfoque en la eficiencia y el cuidado del medio ambiente, te ofrecemos soluciones innovadoras que te permiten disfrutar de la comodidad del transporte privado mientras minimizas tu impacto en el planeta. En ViajeFácil, la confiabilidad y el ahorro van de la mano, porque creemos en un futuro donde todos podamos viajar de manera sostenible y confortable.</p>
            </section>
           
            <div class="container">
              <div class="row">
                  <div class="col-md-6">
                    <a href="archivo2.html">
                      <img src="{% static 'img/homber2.2.png' %}" class="img-fluid" alt="Imagen 1">
                    </a>
                      <h2 class="mt-3">Jorge Reyes Maldonado</h2>
                      <p>Director de Operaciones Transfer</p>
                      
                      <p>
                        El responsable de gestionar todas las operaciones relacionadas con los servicios de transporte en nuestra agencia.Ademas, de ser el administrador de manejar la informacion clave de la empresa y del personal administrativo,parte esencial para asegurar que todas las operaciones de transporte se realicen de manera eficiente y efectiva cumpliendo con los estandares de calidad.
                      </p>
                  </div>
                  <div class="col-md-6">
                    <a href="archivo2.html">
                      <img src="{% static 'img/mina2.2.png' %}" class="img-fluid" alt="Imagen 2">
                    </a>
                      <h2 class="mt-3">Margaret Torres Ortega </h2>
                      <p>Gerente de Regulación y Cumplimiento</p>
                      
                      <p>
                        La líder encargada de garantizar el cumplimiento de todas las regulaciones gubernamentales y normativas de seguridad relacionadas con el servicio de transporte es una figura fundamental en el equipo directivo de la empresa. Su experiencia y dedicación son esenciales para asegurar que todas las operaciones se lleven a cabo de acuerdo con los más altos estándares de seguridad y conformidad legal.
                      </p>
                  </div>
              </div>
          </div>
          
    </main>

    <br>
    <br>
    <br>
    
    <footer class="footer bg-dark text-light text-center py-3 fixed-bottom">
      <div class="container">
          <span> &copy; TransViaje - Todos los derechos reservados 2024</span>
          <a href="https://www.facebook.com/jano.gas.1/?locale=es_LA" class="RedesSociales">
            <img src="{% static 'img/feibukk.webp' %}" width="47px" height="47px" style="margin-left: 15px;">
          </a>
          <a href="https://www.instagram.com/jano_gas?igsh=MWUxNHcxMTV5c2h1ZQ%3D%3D" class="RedesSociales">
            <img src="{% static 'img/instagraaaam.png' %}" width="31px" height="31px" style="margin-left: 15px;">
          </a>
          <a href="index.html" class="RedesSociales">
            <img src="{% static 'img/icono transfer.webp' %}" width="30px" height="30px" style="margin-left: 15px;">
          </a>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>